@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400;1,500&display=swap');

/*=====default=====*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
body,
html {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 500;
}
section {
	min-width: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0;
	background: rgb(65, 124, 163);
}
.wrapper {
	width: 90%;
	height: auto;
	max-width: 1200px;
	margin: 0 auto;
}
.logo {
	text-align: center;
	font-size: 5rem;
	color: rgb(235, 229, 229);
	margin-bottom: 30px;
	font-style: italic;
}
form {
	width: 90%;
	max-width: 500px;
	margin: 20px auto;
	background: rgb(226, 219, 219);
	border-radius: 5px;
}
form input {
	width: 90%;
	background: transparent;
	padding: 10px;
	border: none;
	outline: none;
	font-size: 1.5rem;
	display: inline-block;
}
form ion-icon {
	width: 9%;
	font-size: 3rem;
	margin: -2px;
	color: rgb(198, 198, 206);
}
.result {
	margin-top: 50px;
	width: 100%;
	display: grid;
	grid-gap: 25px;
	grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}
.card {
	width: 100%;
	border-radius: 4px;
	background: rgb(240, 232, 232);
	padding: 20px;
	overflow: hidden;
}
.card img {
	width: 100%;
	height: 350px;
	border-radius: 4px;
}
.flex-content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.card .title {
	color: #7a7676;
	margin: 20px 10 0 0;
	font-size: 1.5rem;
}
.read-more {
	text-decoration: none;
	text-align: center;
	width: 130px;
	padding: 10px 0;
	background: #6f9dc7;
	color: #f2f2f2;
	border-radius: 4px;
	font-size: 1.2rem;
	margin-top: 20px;
	align-self: flex-start;
}
.card-info {
	color: #1f1e1e;
	display: block;
	margin-top: 10px;
	font-size: 1rem;
	letter-spacing: 0.05rem;
	line-height: 2rem;
}
.wrapper .initial form {
	max-width: 800px;
}
.wrapper .initial form input {
	padding: 20px;
	font-size: 2rem;
}
.wrapper .logo {
	font-size: 5rem;
}
@media screen and (max-width: 768px) {
	.result {
		grid-gap: 10px;
	}
	.wrapper .initial .logo {
		font-size: 3rem;
	}
	.wrapper .initial form {
		max-width: 500px;
	}
	.wrapper .initial form input {
		padding: 10px;
		font-size: 2rem;
	}
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	padding: 20px;
}
